In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("C:/Users/SAMRAJ/Downloads/Cognifyz Dataset.csv")

In [5]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [7]:
# Identify the city with the highest number of restaurants
city_counts = data['City'].value_counts()
city_with_most_restaurants = city_counts.idxmax()

print(f"The city with the highest number of restaurants is {city_with_most_restaurants} with {city_counts.max()} restaurants.")

# Calculate the average rating for restaurants in each city
average_ratings = data.groupby('City')['Aggregate rating'].mean()

print("\nAverage rating for each city:")
print(average_ratings)

# Determine the city with the highest average rating
city_with_highest_average_rating = average_ratings.idxmax()
highest_average_rating = average_ratings.max()

print(f"\nThe city with the highest average rating is {city_with_highest_average_rating} with an average rating of {highest_average_rating:.2f}.")

The city with the highest number of restaurants is New Delhi with 5473 restaurants.

Average rating for each city:
City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
��stanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64

The city with the highest average rating is Inner City with an average rating of 4.90.